---
import '../styles/global.css';

import nodemailer from 'nodemailer';
import dotenv from 'dotenv';
import type Mail from 'nodemailer/lib/mailer';

const name = Astro.url.searchParams.get('name');
const email = Astro.url.searchParams.get('email');
const company = Astro.url.searchParams.get('company');
const purpose = Astro.url.searchParams.get('purpose');
const moreInfo = Astro.url.searchParams.get('more-info');
const heardAbout = Astro.url.searchParams.get('heard-about');

// Check whether enough information has been sent
if (!name || !email || !moreInfo) {
  return Astro.redirect('/error');
}

console.log(Astro.url.searchParams);

dotenv.config();

// Get authentication for SMPT server
const smtpUser = process.env.SMTP_USER;
const smtpPass = process.env.SMTP_PASS;
const smtpProvider = process.env.SMTP_PROVIDER;
const smtpTo = process.env.SMTP_TO;

console.log(`
  smtpUser: ${smtpUser},
  smtpPass: ${smtpPass},
  smtpProvider: ${smtpProvider},
  smtpTo: ${smtpTo}
`);

const transporter = nodemailer.createTransport({
  service: smtpProvider,
  auth: {
    user: smtpUser,
    pass: smtpPass,
  },
});

const mailOptions: Mail.Options = {
  from: name,
  to: smtpTo,
  subject: purpose || 'Portfolio Contact',
  text: `Hi! My name is ${name}. ${email} is my email address.${
    company ? ` I work for ${company}.` : ''
  }${
    purpose ? ` This videos is for ${purpose}.` : ''
  } This is everything about my video: ${moreInfo}.${
    heardAbout ? ` I heard about you from ${heardAbout}` : ''
  }`,
};

transporter.sendMail(mailOptions, (err, data) => {
  if (err) return Astro.redirect('/error');
  if (data) console.log(data);
  console.log(`Sent mail to ${smtpTo}`);

  return Astro.redirect('/success');
});

return Astro.redirect('/success');
---

<html lang="en">
  <body>
    <h1>Sending Mail...</h1>
  </body>
  <style>
    body {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    h1 {
      font-family: 'Inter';
    }
  </style>
</html>
